
  <form [formGroup]="myForm" > 
    
           
                  <div class="row row-margin">
            <div class="col-sm" >
               
                <mat-radio-group (change)="onSubmit($event)" name="TYPE" >
                    <mat-radio-button value="1">Individual</mat-radio-button>
                    <mat-radio-button value="2">Bulk Upload</mat-radio-button>
                  </mat-radio-group> 
            
            </div> 
            <!--div class="row row-margin">
              <div class="col-sm button-holder">
                   <app-button [buttonName]="'Reset'" [icon]="'refresh'" (clickEvent)="reset($event)"></app-button>
                
              </div>
          </div> -->
       
        </div>
  
   

  </form>


