<app-dialog [title]="'Terms and Conditions'" [ok]="false" [cancel]="false" (clickEvent)="close($event)" tabindex='1' [actionButtons]="false">
    <div class="card top-margin ">
        <div class="card-body">
            <h3 class="sub-card-header dt-sub-text" [align]="'center'">TERMS AND CONDITIONS OF DELIVERY ORDER E-PAYMENT GATEWAY</h3>

            <h6>1. Introduction </h6>
            <p>
                We welcome you to use our delivery order e-payment facility (Online Payment Facility) which is made available by Dubai Trade FZE, (and referred to here as Dubai Trade) to you for making certain payments to your service provider. A service provider for
                this purpose is an independent third party (not affiliated with Dubai Trade or its affiliates) who provides you services, which require the payment of fees and charges, for which you are able to pay such fees and changes using the Online
                Payment Facility, by reason of the service provider's registration with Delivery Order E-Payment Gateway under an agreement between the service provider and Dubai Trade. You can make payments for fees and charges to your service provider
                using this Online Payment Facility by way of credit card, debit card, advance deposit, or other pre-paid instruments subject to the payment means accepted by the service provider for whose services you will be paying (and this will be
                made clear at the service provider's website). </p>
            <p>
                We will endeavour to make your online payment process a secure and convenient experience, and invite you to carefully read these Terms and Conditions with effect from [1 December 2019], which govern the use of this Online Payment Facility after this date.
                These Terms and Conditions comprise a contract between you and Dubai Trade. You must read, agree with and accept all of these Terms and Conditions before proceeding with a payment using the Online Payment Facility. Dubai Trade may amend
                these Terms and Conditions at any time, and the amended version will be posted on Dubai Trade or your service provider's website, and be effective from that date of posting. </p>

            <h6>2. The relationship between Dubai Trade and you </h6>
            <p>Dubai Trade facilitates payments to your service providers who are registered with Delivery Order E-Payment Gateway by reason of their agreement with Dubai Trade. Dubai Trade is an independent contractor for all purposes. Dubai Trade does
                not have control of, or liability for, the products and services that are paid for with the Online Payment Facility. We do not guarantee the completion of any transaction made by way of the Online Payment Facility. </p>
            <p>Protecting your privacy is very important to Dubai Trade. Please review our Privacy Policy in order to better understand our commitment to maintaining your privacy. Please note that in order to provide the Online Payment Facility, Dubai Trade,
                shall provide users the ability to search for a Bill of Lading or Invoice Number. The Online Payment Facility system shall display the search results with details made available to Dubai Trade by the relevant service provider(s). Such
                details may include B/L Number, B/L Type, Container#, ATA, Free Time, Carrier, Consignee, Status and Outstanding Amount. Please note that Dubai Trade does not have responsibility or liability for, any search results or information displayed
                by the Online Payment Facility system. Please also note that no personal or sensitive information about you will be collected by Dubai Trade by reason of your use of the Online Payment Facility. </p>
            <p>From time to time, unscrupulous parties operate scam operations in relation to online payment means. Dubai Trade will use reasonable endeavours to alert you to any scam which may adversely affect users of the Online Payment Facility when it
                learns of such scam, However, Dubai Trade will not accept any liability in relation to any person's participation in such a scam.</p>

            <h6>3. Information provided by you </h6>
            <p>You agree to ensure that any information provided by you shall be complete and accurate. You shall not at any time provide us with information which is false, inaccurate, misleading, obsolete or deceptive. </p>
            <p>If we have reasonable grounds to believe that you have not provided us with accurate information, we may choose not to proceed with the processing of your payment and the relevant service charges shall remain outstanding. </p>
            <p>You authorise Dubai Trade, directly or through third parties, to make any enquiries we consider necessary to validate your identity. This may include asking you for further information, requiring you to provide some form of identification
                number or reference, requiring you to take steps to confirm ownership of your email address or financial instruments, ordering a credit report, or verifying your personal information against third party databases or through other sources.
            </p>
            <p>In order for the Online Payment Facility system to be able to provide you with search results, you acknowledge the need for Dubai Trade to disclose, transfer, exchange and make accessible to third parties any information or documents you submit
                on the Online Payment Facility system and accordingly you authorise Dubai Trade to disclose, transfer, exchange and make accessible to third parties any such information. Dubai Trade shall not be liable for any claims, losses, costs or
                damages suffered by you or any third party in relation to the use of the Online Payment Facility system. </p>
            <h6>4. Confirmation of Payment</h6>
            <p>You will be issued with a receipt reference by your service provider upon your payment being successfully processed. This is your record of your payment of the service provider using the Online Payment Facility. </p>
            <p>f you do not receive a receipt reference you should contact The Dubai Trade 24/7 Contact centre on 600 55 55 54 or by email on customercare@dubaitrade.ae within three (3) business days (in the United Arab Emirates) from the date of the transaction.
            </p>
            <h6>5. Restricted activities</h6>
            <p>In connection with your use of the Online Payment Facility, you will not: </p>
            <ol>
                <li>Provide false, inaccurate or misleading information; </li>
                <li>Send or receive what Dubai Trade reasonably believes are potentially fraudulent funds; </li>
                <li>Refuse to cooperate in an investigation or provide confirmation of your identity or any personal information you provide to Dubai Trade ; </li>
                <li>Take any action that imposes an unreasonably or disproportionately large load on Dubai Trade's infrastructure; </li>
                <li>Take any action that may cause Dubai Trade to lose any of the services from internet service providers, payment processes, or other suppliers or service providers; or </li>
                <li>Control an account that is linked to another account that has engaged in any of these restricted activities. </li>
            </ol>
            <h6>6. Security</h6>
            <p>We use all reasonable endeavours to ensure the integrity of the Online Payment Facility's Security. Despite our endeavours, breaches of security and confidentiality could occur. You acknowledge that we are not liable for any loss suffered
                by you as a result of any breaches in security. </p>
            <h6>7. Defects in Online Payment Facility</h6>
            <p>We shall not in any way be liable for any delay, disruption or defects in the Online Payment Facility. You acknowledge that you assume all the risks involved in using our Online Payment Facility and we shall not be in any way liable for any
                damage, loss, expense or detriment caused (directly or indirectly) by a defect in our Online Payment Facility. </p>
            <h6>8. Exclusion of Warranties and Implied Terms </h6>
            <p>Except as expressly provided to the contrary in this these Terms and Conditions, all terms, conditions, warranties, undertakings, inducements or representations, whether express, implied, statutory or otherwise, relating in any way to the
                Online Payment Facility are excluded. Dubai Trade provides the Online Payment Facility as is and without any warranty or condition express, implied or statutory. Dubai Trade specifically disclaims any implied warranties of title, merchant
                ability, fitness for a particular purpose and non infringement. Without limiting the generality of the above, we shall be under no liability to you in respect of any loss or damage (including consequential or economic loss or damage) which
                may be suffered or incurred by you or which may arise directly or indirectly in respect of services supplied pursuant to these Terms and Conditions or in respect of a failure or omission on our part to comply with our obligations under
                these Terms and Conditions. </p>
            <p>Dubai Trade does not have any control over the products or services that are paid for with the Online Payment Facility and Dubai Trade cannot ensure that a service provider with whom you deal will actually complete the transaction as authorised
                to do so. Dubai Trade does not guarantee continuous, uninterrupted or secure access to any part of the Online Payment Facility, and operation of the Online Payment Facility may be interfered with by numerous factors outside of Dubai Trade's
                control. Dubai Trade will make reasonable efforts to ensure that requests for electronic debits and credits involving bank accounts, credit cards and other payment means are processed in a timely manner, but Dubai Trade makes no representations
                or warranties regarding the amount of time needed to complete processing. You acknowledge the Online Payment Facility is dependent on many factors outside of Dubai Trade's control, such as delays in the banking system.</p>
            <p>Where any legislation implies in these Terms and Conditions any term, condition or warranty, and that legislation avoids or prohibits provisions in a contract excluding or modifying the application of or exercise of, or liability under such
                term, condition or warranty, such term, condition or warranty shall be deemed to be included in these Terms and Conditions. However, our liability for any breach of such term, condition or warranty shall be limited, to making the Online
                Payment Facility available to you again. </p>
            <p>You warrant that you have not relied on any representation made by us which has not been stated expressly in these Terms and Conditions or upon any descriptions or illustrations or specifications contained in any document including any catalogues
                or publicity material produced by us. </p>
            <p>Dubai Trade accepts no liability for any funds which you: (a) deposit into a third party's account in error rather than Dubai Trade's Rosoom Wallet bank account; (b) transfer to a third party's account in error from Dubai Trade's Rosoom Wallet
                bank account. You are responsible for all fund transfers using the Online Payment Facility. This does not exclude Dubai Trade's liability for transfers correctly requested by you but which are processed incorrectly by Dubai Trade by reason
                of an act or omission for which Dubai Trade is solely responsible. </p>
            <h6>9. Entire Agreement</h6>
            <p>Any previous agreement between you and PCFC, Dubai World Corporation, Dubai World Corporate Services FZE or any of its subsidiaries or business units is hereby terminated by agreement, without prejudice to any accrued rights and obligations
                of the parties. You agree that any outstanding payments payable by you under any such agreements shall remain payable, and that the right to receive such payment is hereby assigned with your consent to Dubai Trade. </p>
            <p>If any provision of these terms and conditions is or becomes invalid, unenforceable or non-binding, you shall remain bound by all other provisions hereof. In such event, such invalid provision shall nonetheless be enforced to the fullest extent
                permitted by applicable law, and you will at least agree to accept a similar effect as the invalid, unenforceable or non-binding provision, given the contents and purpose of these terms and conditions.</p>
            <h6>10. Service Contracts </h6>
            <p>These Terms and Conditions do not in any way waive or reduce your obligations stipulated in any other agreement which you have entered into with Dubai Trade or its subsidiary companies. </p>
            <h6>11. Intellectual Property Rights</h6>
            <p>Unless stated otherwise, the Online Payment Facility and the intellectual property rights (including the copyrights) of the contents and information of and material on the Online Payment Facility are owned by Dubai Trade, its affiliates or
                its service providers.</p>
            <p>Dubai Trade exclusively retains ownership of all rights, title and interest in and to (all intellectual property rights of) (the look and feel (including infrastructure) of) the Online Payment Facility on which the service is made available
                and you are not entitled to copy, scrape, (hyper-/deep)link to, publish, promote, market, integrate, utilize, combine or otherwise use the content or our brand without our express written permission. Any unlawful use or any of the aforementioned
                actions or behaviour will constitute a material infringement of our intellectual property rights.</p>
            <h6>12. Dispute Resolution</h6>
            <p>These terms and conditions and the provision of our services shall be governed by and construed in accordance with the laws of Dubai, United Arab Emirates. </p>
            <p>Any dispute arising out of these general terms and conditions and our services shall exclusively be submitted to the competent courts in Dubai, United Arab Emirates.</p>
        </div>
    </div>
    <br>
    <div style="padding-right: 40px;">
        <app-button [buttonType]="'button'" [buttonName]="'OK'" [icon]="'check_circle'" (clickEvent)="close($event)" class="fa-pull-right"></app-button><br><br>
    </div>
</app-dialog>